div {
    font-family: 'Open Sans';
}

.btn-1 {
    border-color: #5E50A1;
    border-width: 2px;
    color:#5E50A1;
    font-weight: 900;
    font-size: 1vw;
}

.btn-1:hover {
    border-color: #5E50A1;
    color:white;
    background-color: #5E50A1;
}

.btn-2 {
    border-color: #5E50A1;
    background-color: #5E50A1;
    color:white;
    font-weight: 900;
    font-size: 1vw;
}

.btn-2:hover {
    border-color: #5E50A1;
    border-width: 2px;
    background-color: white;
    color:#5E50A1;
    font-weight: 900;
    font-size: 1vw;
}

.btn-3 {
    background-color: white;
    color: #796EAF;
    font-weight: 700;

}
