div {
  font-family: "Open Sans";
}
<<<<<<< HEAD

.btn-1 {
  border-color: #5e50a1;
  border-width: 2px;
  color: #5e50a1;
  font-weight: 900;
  font-size: 1vw;
}

.btn-1:hover {
  border-color: #5e50a1;
  color: white;
  background-color: #5e50a1;
}

.btn-2 {
  border-color: #5e50a1;
  background-color: #5e50a1;
  color: white;
  font-weight: 900;
  font-size: 1vw;
}

.btn-2:hover {
  border-color: #5e50a1;
  border-width: 2px;
  background-color: white;
  color: #5e50a1;
  font-weight: 900;
  font-size: 1vw;
}

.btn-3 {
  background-color: white;
  color: #796eaf;
  font-weight: 700;
}
=======
>>>>>>> 172106a1b9c04c75968e8d3df83fe6bcc130b039
