.card {
  position: relative;
  border-radius: 20px;
  background: #fff;
  margin: 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 100%;
  background: #fff;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  position: relative;
  z-index: 100;
  box-shadow: 2px 6px 16px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 6px 16px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 6px 16px 1px rgba(0, 0, 0, 0.3);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color: #5E50A1;
    border: 12px solid #5E50A1;
    border-radius: 50px;
    color: white;
}

